* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed';
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin shadow {
    // -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.5);
    // -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.5);
    // box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.5);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body {
    @include flex;
    height: 100vh;
    color: #7d2ae8;

    .lockedGame {
        opacity: 30%;
        pointer-events: none;
    }

    .container {
        @include shadow();
        width: 28rem;
        height: 25rem;
        border-radius: 1rem;
        padding: 2rem;

        

        .start-tag {
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 3rem;
        }

        .locked-container {
            width: 100%;
            height: 100%;

            .display {
                @include flex;
                justify-content: space-evenly;
                height: 50%;

                img {
                    width: 5rem;

                }

                .left {
                    transform: rotate(90deg);
                    margin-right: 1rem;
                }

                .right {
                    transform: scaleX(-1) rotate(90deg);
                    margin-left: 1rem;
                }
            }

            .alt {
                @include flex;
                justify-content: space-evenly;


                div {
                    @include flex;
                    flex-direction: column;
                    cursor: pointer;

                    h2 {
                        font-size: 1rem;
                        opacity: 40%;
                        transition: all 0.5s;
                    }

                    img {
                        width: 3rem;
                        margin-bottom: 1rem;
                        opacity: 40%;
                        transition: all 0.5s;
                    }

                    &:hover {

                        img,
                        h2 {
                            opacity: 1;
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }
    }

    .stats-container {
        @include shadow;
        margin-left: 2rem;
        width: auto;
        height: auto;
        border-radius: 1rem;
        padding: 2rem;

        .slideContainer {

            p {
                margin: 1rem 0 0 0;
            }

            div {
                @include flex;
                justify-content: start;

                input {
                    margin: 1rem 1rem 1rem 0;
                }
            }

            button {
                @include shadow();
                padding: 0.5rem 2rem;
                margin-bottom: 1rem;
                border-radius: 0.5rem;
                border: none;
                background: none;
                cursor: pointer;
                color: #7d2ae8;
                font-weight: 600;
            }
        }

        .stats {

            p {
                margin: 1rem 1rem 0 0;
            }
        }
    }

    .tooltip {
        position: relative;
        display: inline-block;
    
        .tooltiptext {
            @include shadow();
            visibility: hidden;
            width: auto;
            background-color: white;
            color: #7d2ae8;
            text-align: center;
            padding: 0.5rem 1rem;
            border-radius: 6px;
    
            /* Position the tooltip text */
            position: absolute;
            z-index: 1;
            bottom: 105%;
            left: 45%;
            margin-left: -60px;
    
            /* Fade in tooltip */
            opacity: 0;
            transition: opacity 0.3s;
    
            /* Tooltip arrow */
            &::after {
                
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #fff transparent transparent transparent;
            }
        }
    
        &:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    }
}